@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import "calculator-buttons";
@import "calculator-results";

#root, .App, .calculator {
  width: 100vw;
  height: 100vh;
  font-family: Roboto;
}